# JWT
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
INTERNAL_SERVICE_TOKEN=change-me-internal

# PostgreSQL examples
USER_DATABASE_URL=postgresql+asyncpg://user:pass@user-db:5432/users_db
FLIGHT_DATABASE_URL=postgresql+asyncpg://user:pass@flight-db:5432/flights_db
BOOKING_DATABASE_URL=postgresql+asyncpg://user:pass@booking-db:5432/bookings_db
PAYMENT_DATABASE_URL=postgresql+asyncpg://user:pass@payment-db:5432/payments_db

# Service URLs
USER_SERVICE_URL=http://user-service:8001
FLIGHT_SERVICE_URL=http://flight-service:8002
BOOKING_SERVICE_URL=http://booking-service:8003
PAYMENT_SERVICE_URL=http://payment-service:8004
NOTIFICATION_SERVICE_URL=http://notification-service:8005

# Redis / Kafka
REDIS_URL=redis://redis:6379/0
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_NOTIFICATIONS_TOPIC=notifications

# Email
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_user
SMTP_PASSWORD=your_password
SMTP_FROM=noreply@example.com

# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token
