SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_user
SMTP_PASSWORD=your_password
SMTP_FROM=noreply@example.com
TELEGRAM_BOT_TOKEN=your_bot_token
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_NOTIFICATIONS_TOPIC=notifications
KAFKA_ENABLED=false
